*{
    box-sizing: border-box;
    margin-left:auto;
    margin-right: auto;
}

html{
  
    width: 100%;
    height: 100%;

}

body{
    background: url("../images/smoothies.jpg");
    margin: auto;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
   
    
}

header{
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
    text-align: center;
    margin-right: 50px;
    font-weight: bold;
    color: navy;


}

section{
    margin: auto;
    padding: 0;
    background: url("../images/bananas.png");
    width: 960px;
    height: 600px;
    margin-top: 50px;
  
}

button{
    background-color: pink;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: 300px;
    height: 100px;;


}



p{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
}

span{

    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;


}



#questions{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: green;
}

.choices{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
    color:purple;
}

.choices div:hover{
    color: palevioletred;
}

.image{
    text-align: center;
    width: 50px;
    height: 50px;
}


#result{
    color: red;
}

.final{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: darkgreen;

}

h2{
    font-family: 'Special Elite', cursive;
    font-weight: bold;

}

p4:hover{

    color: gray;
}